:host {
  height: calc(100% - 85px);
}

.constructor {
  display: flex;
  height: 100%;
  flex: auto;
}

.main {
  width: 100%;
  height: 100%;
  flex: auto;
  padding: 40px;
  overflow-x: auto;
}

.aside {
  flex-basis: 300px;
  flex-shrink: 0;
  height: 100%;
  box-shadow: 0 10px 20px 0 rgba(191, 158, 172, 0.5);
  padding: 60px 40px;
  overflow-x: auto;
}
