.constructor {
  display: flex;
  height: 100%;
  flex: auto;
}

.main {
  width: 100%;
  height: 100%;
  flex: auto;
  padding: 20px;
}

.aside {
  flex-basis: 300px;
  flex-shrink: 0;
  height: 100%;
  background: #f0f5ff;
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
  padding:20px 25px ;
}

