<div [ngSwitch]="element.kind" class="sidebar">

  <app-sidebar-elem-text *ngSwitchCase="elementKind.TEXT"
                         [submit]="onSubmit"
                         [el]="element"
                         [changed]="onChanged"
                         [cancel]="onCancel">
  </app-sidebar-elem-text>

  <app-sidebar-elem-image *ngSwitchCase="elementKind.IMAGE"
                          [submit]="onSubmit"
                          [el]="element"
                          [changed]="onChanged(element)"
                          [cancel]="onCancel">
  </app-sidebar-elem-image>

  <app-sidebar-elem-link *ngSwitchCase="elementKind.LINK">
  </app-sidebar-elem-link>
</div>
