.sidebar {
  width: 20%;
  background: #c0c6c7;
  padding-top: 25px;
  padding-left: 20px;

  .sidebar__title {
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.nav__link {
  display: block;
  padding: 10px;
}
