<div class="constructor__wrap">
  <div class="constructor__content">
    <!--<div class="constructor__block" *ngFor="let block of blocks">-->
      <!--{{block}}-->
    <!--</div>-->
  </div>
  <!--<div class="btn__block"><button (click)="addLayoutBlock($event)">add block</button></div>-->
  <div class="btn__block"><button (click)="showSidebar($event, sidebars.containerSb)">add container</button></div>
  <div class="btn__block"><button (click)="showSidebar($event, sidebars.elementsSb)">add elements</button></div>
  <div class="btn__block"><button (click)="showSidebar($event, sidebars.elementSb)">add element</button></div>
</div>
