<form [textFormGroup]="settingsTextForm" required (click)="change()">
     <label for="text_content">Enter your text</label>
    <input type="text" class="form-control" name="content" formControlName="content" id="text_content">

    <label for="padding_top">Padding top</label>
    <input type="text" class="form-control" formControlName="top" id="padding_top">

    <label for="padding_bottom">Padding bottom</label>
    <input type="text" class="form-control" formControlName="bottom" id="padding_bottom">

    <label for="padding_left">Padding left</label>
    <input type="text" class="form-control" formControlName="left" id="padding_left">

    <label for="padding_right">Padding right</label>
    <input type="text" class="form-control" formControlName="right" id="padding_right">
</form>>
