<div *ngIf="containers.length === 0" class="wrap__btn">
  <button
    *ngIf="containers.length === 0"
    class="container__btn btn btn--big btn--center"
    (click)="addContainer(0)">Create new
  </button>
</div>

<div *ngFor="let container of containers; let i = index" class="container">

  <app-container [container]="container"></app-container>

  <button class="container__btn btn btn--small btn--top" (click)="addContainer(i)">+</button>
  <button class="container__btn btn btn--small btn--bottom" (click)="addContainer(i + 1)">+</button>
</div>

