.container {
  position: relative;
  width: 100%;
  padding: 20px;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #9198E5;
    transition: .35s;
  }

  &:hover > .container__btn {
    display: block;
  }
}

.wrap__btn {
  background: #F5F5F5;
  padding: 40px;
}

.btn {
  &:hover {
    background: #BCA9F5;
    border: 1px solid #BCA9F5;
  }

  &--small {
    position: absolute;
    display: none;
    padding: 5px 10px;
    z-index: 1;
  }

  &--top {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
  }

  &--bottom {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
  }

  &--center {
    margin: auto;
  }

  &--delete {
    padding: 5px;
    bottom: -2px;
    left: -2px;
  }
}

.svg-icon {
  width: 22px;
  height: 18px;
  fill: #FFF;
}
