<div>
  <div class="form-group">
    <label for="paddingTop">Padding top</label>
    <input type="text" class="form-control" id="paddingTop">
  </div>
  <div class="form-group">
    <label for="paddingBottom">Padding bottom</label>
    <input type="text" class="form-control" id="paddingBottom">
  </div>
  <div class="form-group">
    <label for="paddingLeft">Padding left</label>
    <input type="text" class="form-control" id="paddingLeft">
  </div>
  <div class="form-group">
    <label for="paddingRight">Padding right</label>
    <input type="text" class="form-control" id="paddingRight">
  </div>

<div class="form-group">
  <label for="backgroundColor">Background color</label>
  <input type="color" class="form-control" id="backgroundColor">
</div>
</div>
