.element__content {
  width: 100%;
}
.fake-link {
  cursor: pointer;
  &:hover {
    color: #0000FF;
    text-decoration: underline;
  }
}

.img-default {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}



