.wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #777;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(61, 192, 220, 0.84);
  color: #ebfbff;
  padding: 15px;
  text-align: center;

  .logo__site {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    color: #fff;
    margin-right: auto;

    .img__logo {
      width: 100%;
      border-radius: 100%;
    }
  }
  .logo__text {
    position: absolute;
    left: 0;
    bottom: 0px;
    color: #153230;
    margin: 0;
    font-weight: bold;
  }

  .title__site {
    flex-grow: 2;
    margin: 0;
  }
}


