.wrap {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
  height: 100%;
}

.header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;
  background: rgba(61, 192, 220, 0.84);
  color: #ebfbff;
  padding: 10px;
  text-align: center;
}

.logo__site {
  position: relative;
  display: block;
  width: 40px;
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  color: #fff;
  margin-right: auto;
}

.img__logo {
  width: 100%;
  border-radius: 100%;
}

.logo__text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #153230;
  margin: 0;
  font-weight: bold;
}

.title__site {
  flex-grow: 2;
  font-size: 30px;
  margin: 0;
}

app-page-constructor {
  height: 100%;
}
