.wrap {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
}

.header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#e66465, #9198e5);
  color: #ebfbff;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: center;
}

.logo__site {
  position: relative;
  display: block;
  width: 85px;
  height: 45px;
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  color: #fff;
}

.img__logo {
  width: 40px;
  display: inline-block;

  border-radius: 100%;
}

.logo__text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #153230;
  margin: 0;
  font-weight: bold;
}

.title__site {
  font-size: 30px;
  margin: 0;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-left: 20px;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  color: inherit;
  font-weight: 700;
  text-decoration: none;

  &:after,
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 1;
    transition: width .35s, background-color .25s ease-in-out;
    will-change: transition;
  }
  &:hover:after,
  &:focus:after {
    width: 100%;
    background: #ebfbff;
  }
}

.active:after {
  width: 100%;
  background: #ebfbff;
}
