<div class="container__wrap">

  {{container.id}}

  <button *ngIf="onPressed" class="container__btn btn btn--big btn--center"
          (click)="openElements()">add elements
  </button>

  <div *ngIf="!onPressed && elements.length === 0">
    You can start adding new elements in sidebar.
  </div>
  <div class="element__block"  *ngFor="let element of elements">

    <button class="btn btn--small btn--left btn--hide"
            *ngIf="elements.length < 2"
            (click)="openElements('left')">+
    </button>

    <button class="btn btn--small btn--right btn--hide"
            *ngIf="elements.length < 2"
            (click)="openElements('right')">+
    </button>

    <button class="btn btn--small btn--edit btn--hide" (click)="elementEdit(element)">
      <svg class="svg-icon">
        <use xlink:href="../../../../assets/icons/constructor-svg/icons.svg#icon-pencil"></use>
      </svg>
    </button>

    <app-element [element]="element" class="app-element"></app-element>

  </div>
</div>

