
.app-element {
  position: relative;
  display: flex;
  flex-basis: 100%;
  flex-grow: 12;
}

.element__block {
  position: relative;
  flex-shrink: 0;
  flex-basis: 0;
  flex-grow: 1;

  padding: 20px;
  background: #F5F5F5;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid #9198E5;
    transition: .35s;

    .btn--hide {
      display: block;
    }
  }
}

.container__wrap {
  display: flex;
}

.container:hover > .container__btn {
  display: block;
}

.wrap__btn {
  background: #F5F5F5;
  padding: 40px;
}

.btn {
  &:hover {
    background: #BCA9F5;
    border: 1px solid #BCA9F5;
  }
}

.btn--small {
  position: absolute;
  display: none;
  padding: 5px 10px;
  z-index: 1;
}

.btn--hide {
  display: none;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
}

.btn--center {
  margin: auto;
}

.btn__element {
  padding: 5px;
  top: -34px;
  right: 0;
  z-index: 2;
}

.btn__element--edit {
  right: 34px;
}

.svg-icon {
   width: 22px;
   height: 18px;
   fill: #FFF;
 }
