.elements__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.elements__item {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 3px 4px 10px rgba(191, 158, 172, 0.5);
  border: 2px solid #EEE;
  padding: 10px;
  border-radius: 5px;
}

.sidebar__title {
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
}
