<h3 class="sidebar__title">Sidebar Image-element</h3>

<form [formGroup]="attrsImgForm" (submit)="onSubmit($event)" (change)="onChanged($event)">
  <div class="" formGroupName="block">
    <input class="form-control" formControlName="alt"/>
    <input
      style="display: none;"
      type="file"
      name="image"
      formControlName="src"
      (change)="onFileSelect($event)"
      #fileInput>
    <div class="wrap__btn--sidebar">
      <button class="btn btn--sidebar" type="button" (click)="fileInput.click()">Pick File</button>
      <button class="btn btn--sidebar" type="button" (click)="onUpload()">Upload</button>
    </div>
  </div>
  <div class="" formGroupName="offsets">
    <label class="label" for="padding_top">Padding top, px</label>
    <input type="number" class="form-control" formControlName="top" id="padding_top">

    <label class="label" for="padding_bottom">Padding bottom, px</label>
    <input type="number" class="form-control" formControlName="bottom" id="padding_bottom">

    <label class="label" for="padding_left">Padding left, %</label>
    <input type="number" class="form-control" formControlName="left" id="padding_left">

    <label class="label" for="padding_right">Padding right, %</label>
    <input type="number" class="form-control" formControlName="right" id="padding_right">
  </div>

  <label class="label" for="bg_color">Background color</label>
  <input type="color" class="form-control-bg" formControlName="bg_color" id="bg_color">

  <div class="wrap__btn--sidebar">
    <button class="btn btn--sidebar" type="submit">Save</button>
    <button class="btn btn--sidebar btn--cancel" type="button" (click)="onCancel($event)">Cancel</button>
  </div>
</form>
