/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #777;
  padding: 0;
  margin: 0;
  font: 400 18px 'Montserrat', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

app-constructor {
  height: 100%;
}

.btn {
  display: block;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color .35s ease-in-out;
  color: #FFF;
  border: 1px solid #9198e5;
  background: #9198e5;
}


