/* You can add global styles to this file, and also import other style files */

@import "~ngx-smart-modal/ngx-smart-modal";
.nsm-dialog {
  max-width: 50%!important;
  .heading {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.nsm-dialog-btn-close {
  display: none;
}

@import "~ngx-toastr/toastr.css";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  padding: 0;
  margin: 0;
  font: 400 18px 'Montserrat', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

app-constructor {
  height: calc(100% - 85px);
}

.btn {
  display: block;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color .35s ease-in-out;
  color: #FFF;
  border: 1px solid #7453E5;
  background: #7453E5;
  border-radius: 5px;
  cursor: pointer;
  &:hover,
  &:focus {
    background:#9198e5;
  }
  &--cancel {
    background: #a2a2a2;
    border: 1px solid #a2a2a2;
    &:hover,
    &:focus {
      background: #cdcdcd;
    }
  }
}

//--------sidebar-------------//


.sidebar__title {
  text-align: center;
  color: #9a39ab;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 60px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 4px 10px rgba(138, 29, 159, 0.3);;
  border: 1px solid #EEE;
  font-size: 18px;
  background-color: transparent;
}

.form-control-bg{
  margin-bottom: 30px;
}

.label {
  line-height: 2;
  margin-right: 20px;
}

.wrap__btn--sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn--sidebar {
  min-width: 90px;
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
}

.btn--editor {
  width: 100%;
  text-align: left;
  font-weight: 400;
  text-transform: none;
  color: #777;
  background: transparent;
  &:hover,
  &:focus {
    background-color: transparent;
    box-shadow: 3px 4px 10px rgba(138, 29, 159, 0.2);
  }
}

input {
  color: #777;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.post__title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
