<aside [ngSwitch]="request.type" class="sidebar">
  <button routerLink="/preview" routerLinkActive="active" class="btn-sidebar">Preview</button>
  <button class="btn-sidebar">Publish</button>

  <app-sidebar-container *ngSwitchCase="sidebars.CONTAINER">
  </app-sidebar-container>

  <app-sidebar-elements *ngSwitchCase="sidebars.ELEMENTS" [request]="request">
  </app-sidebar-elements>

  <app-sidebar-element *ngSwitchCase="sidebars.ELEMENT" [request]="request">
  </app-sidebar-element>

  <app-sidebar-default *ngSwitchDefault></app-sidebar-default>

  <button class="btn btn-delete">delete</button>
</aside>
