<aside [ngSwitch]="request.type" class="sidebar">
  <app-sidebar-container *ngSwitchCase="sidebars.CONTAINER">
  </app-sidebar-container>

  <app-sidebar-elements *ngSwitchCase="sidebars.ELEMENTS" [request]="request">
  </app-sidebar-elements>

  <app-sidebar-element *ngSwitchCase="sidebars.ELEMENT" [request]="request">
  </app-sidebar-element>

  <app-sidebar-default *ngSwitchDefault></app-sidebar-default>
  <div class="wrap__btn--sidebar">
    <button class="btn btn--sidebar" routerLink="/preview" routerLinkActive="active">Preview</button>
    <button class="btn btn--sidebar">Publish</button>
  </div>
</aside>
